@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');

body{
    font-family: 'Prata', serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin: 0;
    padding: 0;
    
}
nav {
    position: fixed;
    display: inline;
    background: #fff;
    padding: 0;
    width: 100%;
    z-index: 99;;
}
nav ul li{
    display: inline;
    padding: 10px 25px;
    /* border: 2px solid black; */
    margin: 0;
}
nav ul li a{
    text-decoration:none;
    color: #222;
}
         /* Here inserts the hover effect for the link */
nav ul li a:hover{
 
}
nav i {
    font-size: 40px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 30px;
}
/* The showcase part, including the content text */
#video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.showcase .brand {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    max-width: 1700px;
    /* display: none; */
}
.showcase h1{
    font-size: 7rem;
    position: relative;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 35px 20px;
    text-align: center;
    padding: 0;
    width: 40%;
    border: solid 4px white;
    
}
.showcase h2 {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    top: 9vh;
    margin-top: 0;
    font-style: italic;
   
}
/* The categories part */
/* New strategy: I will put the picture as the background image of the text. */
#categories {
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    position: relative;
    top: 8vh;
    display: none;
}
#categories .sub{
    flex: 33%;
    max-width: 33%;
    margin: auto;
}
#categories .sub h1 {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    margin: 30px 15px;
}
/* Add hover effect on the h1 of the sub */
#categories .sub h1:hover, #categories .sub h1:focus{
    cursor:pointer;
}
.tech{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/834949/pexels-photo-834949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);/*linear gradient successfullly adds a half transparent filter to the picure.*/
    background-position: center;
    background-size: cover;
}
.culture{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/682025/pexels-photo-682025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
.politics{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/2281/man-person-suit-united-states-of-america.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
.business{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/886465/pexels-photo-886465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
.health{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/317157/pexels-photo-317157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
.more{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url(https://images.pexels.com/photos/377058/pexels-photo-377058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
/* The video part */