body{
    background: #455E13;
    color:#19313B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 670px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#title{
    color:#E6F2CC;
    padding-bottom: 20px;
    font-size: 2.5rem;
    border-bottom: 3px solid #E6F2CC;
    max-width: 90%;
}
h1{
    margin-bottom: 0;
}

#description{
    color: #E6F2CC;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    max-width: 70%;
    text-align: center;
    line-height: 1.3em;
}
.wrapper{
    border: 0px solid #19313B;
    box-shadow: 0 0 20px 0;
    padding: 2rem;
    background:#E6F2CC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 3rem;
}
.wrapper form .info p input{
   width: 90%;
   padding: 1em;
   border: 1px solid #455E13;
}
.wrapper form .info p{
     margin: 0;
     padding: 10px 0;
}
.wrapper .full{
    grid-column: 1/3;
}
hr {
    margin-top:1.5em;
}
/* The dropdown menu for the current role */
#dropdown{
    width: 100%;
    font-size: 1rem;
}/*It's impossible to style the dropdown menu if you are using the default one!*/

/* The radio button selections */
.wrapper .radio p, .wrapper .check p, .wrapper .comments p{
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0.5em 0;
}

input[type="radio"]{
    margin: 0 10px 0 4rem;
  }/*This is how you change the input css!*/

  /* The comments box */
  .wrapper .comments textarea{
      width: 100%;
      border: 1px solid #455E13;
  }
  
  .wrapper button{
    /* border: 2px solid black; */
    padding: 1rem;
    font-size: 1em;
    background: #455E13;
    color: #E6F2CC;
    width: 50%;
    display: block;
    margin-top: 1rem;
    border: 1px solid #455E13;
  }
  .wrapper button:hover, .wrapper button:focus{
    cursor: pointer;
    transform:scale(1.05);

  }
  /* On smaller screens, responsive design */
@media(max-width:650px){
    #title {
        line-height: 3rem;
    }
    /* I want to stack everything when the screen is smaller */
    .wrapper .info {
        display: block;
    }
    input[type="radio"]{
        margin: 0 10px 0 1.5rem;
      }
}



