@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    /* font-size: 1.2rem; */
    /* max-width: 800px; */
    background-color:#f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
}
/* the showcase */
#image {
    height: 100vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    display: block;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    transition: all 500ms;
}
#image:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    /* transition: all 500ms; */
}
#image:hover + .text {
    /* My gosh I have to put this way since the structure restriction set by FCC! */
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.showcase  .text {
    position: absolute;
    top: 40%;
    text-align: center;
    color: #f4f4f4;
    z-index: 1;
}
#title {
    font-size: 4rem;
    width: 75%;
    border-top: 4px solid #f4f4f4;
    border-bottom: 4px solid #f4f4f4;
    margin: auto;
    padding: 15px;
}
.showcase  .text  p {
    line-height:2rem;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    text-align: right;
    padding-top: 2%;
    padding-left: 20%;
    font-style: italic;
}
#img-caption {
    display: none;
}

/* the timeline part */
#tribute-info .header h1 {
    width: inherit;
    height: auto;
    text-align: center;
    color: #f4f4f4;
    background: rgba(143, 108, 124, 0.9);
    margin: 0;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
#tribute-info .timeline{
    position: relative;   
    /* The above line is crucial for the timeline to show, you have to have the container position relative to have a timeline with position absolute */
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#tribute-info .timeline ul {
  
    width: 40%;
    height: auto;
    list-style-type: none;
}
#tribute-info ul li {
    color: #f4f4f4;
    background-color: #8F6C7C;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10%;
    line-height: 1.5rem;
    position: relative;
}
#tribute-info .timeline::after{
    content: '';
    width: 6px;
    height: 100%;
    background-color: rgb(100, 100, 100);
    position: absolute;
    left: 50%;
    /* It's important to have the above line, to put it in the middle! */
    top: 0;
    bottom: 0;
}
#tribute-info ul li:nth-child(even){
    /* the even child will locate at the right of the timeline */
    position: relative;
    left: 115%;
    width: auto;
    clear: both;
    text-align: center;
}
#tribute-info ul li:nth-child(odd){
    left: 20%;
    position: relative;
    clear: both;
    width: auto;
    text-align: center;
}
/* Add the circle */
#tribute-info ul li:nth-child(odd)::before{
    content: '';
    position: absolute;
    background: #8F6C7C;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #8F6C7C;
    right: -12%;
    z-index: 1;
}
#tribute-info ul li:nth-child(even)::before{
    content: '';
    position: absolute;
    background: #8F6C7C;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #8F6C7C;
    left: -48px;
    z-index: 1;
}
.time {
    margin: 0;
    width: 100%;
    padding: 0;
    background: rgba(50,50,50, 0.5);
    color:#f4f4f4;
    border-radius: 15px;
    font-family: 'Bellefair', serif;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
}
.time p {
    /* this is the padding you should adjust */
    padding:10px 0;
    margin: 10px 0;
}


.link {
    width:inherit;
    height: auto;
    background: rgb(143, 108, 124, 0.7);
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: rgba(50,50,50);
    font-weight: bold ;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* make the link not purple */
a {
    color:blue; 
    text-decoration: none;
    border-bottom: solid 3px blue;
}
a:visited { 
    color:purple; 
    border-bottom: solid 3px purple;
     
}

footer {
    width: inherit;
    height: auto;
    background-color:#323232;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
    font-family: 'Bellefair', serif;
    color: #f4f4f4;
    font-size: large;
}


/* Media queries - Responsive timeline on screens less than centain width */ 
/* in this situation, I realize it's much better to have the time inside the content bob LOL */
@media screen and (max-width:950px) {
    #title {
        font-size: 1.5rem;
    }
    .showcase .text p{
        font-size: 15px;
        width: 90%;
        text-align: center;
        width: auto;
        padding-right: 50px;
    }
    /* put the timeline ruler on the left of the page */
    #tribute-info .timeline::after{
        position: absolute;
        left:10%;
    }
    /* make all the boxes on the right of the timeline ruler */
    #tribute-info .timeline ul li {
        position: relative;
        left: 15%;
        width: 240px;
        
    }
    #tribute-info .timeline ul li::before{
        position: absolute;
        left: -17%;
    }

}