<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/medium.landing.page.style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Medium</title>
</head>
<body>
    <header id="header">
        <nav>
            <!-- the navigation links -->
            <ul>
                <li><i class="fab fa-medium"></i></li>
                <li>
                    <a href="#categories">Categories</a>
                </li>
                <li>
                    <a href="#intro-video">Intro video</a>
                </li>
                <li>
                    <a href="#free-trial">Free trial</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- the showcase part including the pic and the content -->
    <section class="showcase">
        <div class="brand">
            <h1>Medium</h1>
            <h2>Where Words Matter</h2>
        </div>
    </section>
    <!-- the categories part -->
    <section id="categories">
        <div class="subcategories">
            <h1>Technology</h1>
            <img src="https://images.pexels.com/photos/834949/pexels-photo-834949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="technology">
        </div>
        <div class="subcategories">
            <h1>Culture</h1>
            <img src="https://images.pexels.com/photos/682025/pexels-photo-682025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="culture">
        </div>
        <div class="subcategories">
            <h1>Politics</h1>
            <img src="https://images.pexels.com/photos/2281/man-person-suit-united-states-of-america.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="politics">
        </div>
        <div class="subcategories">
            <h1>Business</h1>
            <img src="https://images.pexels.com/photos/886465/pexels-photo-886465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="business">
        </div>
        <div class="subcategories">
            <h1>Health</h1>
            <img src="https://images.pexels.com/photos/317157/pexels-photo-317157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="health">
        </div>
        <div class="subcategories">
            <h1>More</h1>
            <img src="https://images.pexels.com/photos/377058/pexels-photo-377058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="more">
        </div>
    </section>
    <!-- intro video part -->
    <section id="intro-video">
        <iframe src="https://www.youtube.com/embed/qpG11vFqglA" frameborder="0"></iframe>
    </section>
    <!-- the free trial part -->
    <section id="free-trial">
        <h1>Ideas and perspectives you won’t find anywhere else.</h1>
        <h3>Medium taps into the brains of the world’s most insightful writers, thinkers, and storytellers to bring you the smartest takes on topics that matter. So whatever your interest, you can always find fresh thinking and unique perspectives.</h3>
        <form action="">
            <input type="email" placeholder="Please enter your email">
            <button id="submit">Start your free trial!</button>
        </form>
    </section>
    <footer>
        <div class="links">
            <ul>
                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="#">Status</a>
                </li>
                <li>
                    <a href="#">Writers</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy; 2018 Medium</p>
            <p>Made with <i class="far fa-heart"></i> by Anqi Dai</p>
        </div>
    </footer>
</body>
</html>