@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');

:root {
	--pink: #76446a;
	--dark: #1f1d1d;
	--light: #fcfcfc;
}

/* Global */
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	color: Var(--dark);
	text-decoration: none;
}

/* The welcome part */

/* The navigation bar */
#navbar {
	width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
	text-align: right;
}
nav ul {
	margin: 0;
	padding: 0.7rem 2rem;
}
nav li {
	display: inline;
	padding: 1rem 2rem;
}
nav a {
	text-decoration: none;
	color: Var(--light);
	padding: 0.2rem 0;
	font-size: 1.2rem;
	font-weight: 700;
}
/* The welcome front page */
#welcome-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(118, 68, 106, 0.9), rgba(118, 68, 106, 0.3), rgba(118, 68, 106, 0.1)),
		url('https://images.pexels.com/photos/390573/pexels-photo-390573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'),
		no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.showcase-content h1 {
	font-size: 5rem;
	font-family: 'Open Sans', sans-serif;
	color: #1f1d1d;
}

/* The projects part */
#projects {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* height: auto; */
	margin: auto;
	/* border: solid red; */
}
#projects h1 {
	/* border: solid red; */
	padding: 1.5rem 3rem;
}
.projects-container {
	height: 80vh;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 3rem;
	margin-left: auto;
	margin-right: auto;
}
.project-tile {
	width: 100%;
	height: auto;
	/* border: solid Var(--pink) 2px; */
	box-shadow: 5px 0 10px Var(--pink);
}
img {
	/* This is how you shrink down the size of the images! */
	display: block;
	width: 100%;
	/* border: double 2px Var(--pink); */
}
.project-tile h4,
.project-tile .link {
	text-align: center;
	margin: 0;
	padding: 0.5rem 0;
}
.project-tile .link {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0;
}
.project-tile h4 {
	font-weight: 600;
	background-color: Var(--pink);
	color: Var(--light);
}
.project-tile a {
	display: block;
	padding: 0.5rem .5rem;
	margin: 0;
	/* border: solid red; */
}

/* The contact part */
#contact-info {
	position: relative;
	top: 30vh;
	height: 50vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#contact-info h1 {
	margin-bottom: 2rem;
}
.btn {
	background-color: Var(--pink);
	margin: 1rem;
	padding: 0.5rem;
	color: Var(--light);
	border-radius: 20px;
}
.btn a {
	color: Var(--light);
}
/* The footer part */
footer {
	position: relative;
	top: 300px;
	background-color: Var(--pink);
	color: Var(--light);
	text-align: center;
}
footer p {
	padding: 0.5rem 0;
	margin: 0;
}

/* On small screens */
